/* div img {
    width: 20%;
} */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 2fr 1fr;
    height: 100vh;
    grid-template-areas: "header"
                         "top_main"
                         "main"
                         "footer";
    padding: 0;
    margin: 0;
}
h1, h2, p {
    font-family: 'Montserrat', sans-serif;
}
.header {
    
    position: fixed;
    top: 2%;
    left: 35%;
    grid-area: header;
}
.top_main * {
    /* box-sizing: border-box; */
   grid-area: top_main;

    
}
.column {
    float: left;
    width: 20%;
    /* padding: 1px; */
    
}
.displayed {
    display: flex;
    justify-content: center;
    grid-area: main;

}
.column2 {
    float: left;
    width: 100%;
}
.footer * {
    margin: 1px;
    grid-area: footer;

}
label {
    display: flex;
    justify-content: center;
}
#effect{
    align-content: center;
}
button {
    align-content: center;
}
